@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

:root {
  font-size: 10px;
  --main-color: rgba(255, 99, 71, 0.596);
  --second-color: rgb(233, 215, 215);
  --blue: rgb(59, 112, 209);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  padding-top: 3rem;
}

.main-content {
  max-width: 70%;
  margin: 0 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  background-color: var(--main-color);
  border-bottom: 0.2rem solid black;
}

.mem-title {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}

.mem-img-container {
  margin: 0 auto;
  display: block;
  height: 0;
  opacity: 0;
    transition: all 0.3s linear;
  cursor: pointer;
}
.mem-img {
  display: block;
  margin: 0 auto;
  width: 60%;
}
.icon {
  display: inline-block;
  background-image: url(./arrow.svg);
  background-position: center;
  background-size: 220%;
  background-repeat: no-repeat;
  width: 2rem;
  height: 1.5rem;
  opacity: 0;
}

.mem-input {
  display: none;
}

/* Checked style start*/

.mem-input:checked ~ .mem-img-container {
  height: auto;
  opacity: 1;
  padding: 3rem 0;
}

.mem-input:checked + .mem-title {
  color: var(--blue);
}

.mem-input:checked + .mem-title > span {
  transform: rotate(180deg);
  transition: all 0.25s ease-out;
}

/* Checked style end*/

/* active style start */

.mem-input:active ~ label.mem-title {
  color: black;
}

.mem-input:active ~ .mem-img-container {
  opacity: 0.5;
}

/* active style end */

@media (hover: hover) {
  .main-content:hover .mem-title {
    color: var(--blue);
  }
  .container:hover .mem-title > span {
    opacity: 1;
  }

  .container:hover .mem-img-container {
    height: auto;
  opacity: 1;
  padding: 3rem 0;
  }
}
